- @title = "Listing calendars"

- content_for :description do
  %p Edit this template in app/views/calendars/index.html.haml.

- content_for :actions do
  = link_to new_calendar_path, class: 'btn btn-primary btn-large pull-right' do
    = icon_tag "plus"
    Add Calendar

.sheet.sheet-condensed
  .sheet-inner
    %table.table
      %thead
        %tr
          %th Day
          %th Hours
          %th
      %tbody
      - @calendars.each do |calendar|
        %tr
          %td= calendar.day
          %td= calendar.hours
          %td.actions
            = link_to icon_tag("eye-open"), calendar, rel: 'tooltip', title: 'Show'
            = link_to icon_tag("pencil"), edit_calendar_path(calendar), rel: 'tooltip', title: 'Edit'
            = link_to icon_tag("trash"), calendar, rel: 'tooltip', title: 'Delete', data: { confirm: 'Are you sure?' }, method: :delete

