- @title = "Member List"

= link_to "xml", reports_members_path(format: :xml)
&middot;
= link_to "json", reports_members_path(format: :json)
&middot;
= link_to "csv", reports_members_path(format: :csv)
.sheet.sheet-condensed
  .sheet-inner
    %table.table
      %thead
        %tr
          %th Last name
          %th First name
          %th Student ID
          %th Grade
          %th Email
      %tbody
      - @members.each do |member|
        %tr
          %td= member.last_name
          %td= member.first_name
          %td= member.student_id
          %td= member.grade
          %td= member.email

