%footer
  .container
    %p.pull-right
      = link_to "Home", root_path
      &middot;
      = link_to "Lightning Home", "http://lightningrobotics.com/"
      &middot;
      = link_to "Lightning Forum", "http://lightningrobotics.com/forum/"
      &middot;
      = link_to "Chief Delphi", "http://www.chiefdelphi.com/"
      &middot;
      = link_to "Help", "mailto:phurley@gmail.com"
    %p &copy; #{Date.today.year} #{app_name}. All rights reserved.
