- @title = "Showing member"

.form-horizontal
  .form-group
    %label.col-sm-2.form-label= if @member.mentor? then "Mentor Id" else "Student Id" end
    .uneditable-input.col-md-8.form-control
      %span= @member.student_id

  .form-group
    %label.col-sm-2.form-label Name
    .uneditable-input.col-md-8.form-control
      %span= @member.name

  - if !@member.mentor?
    .form-group
      %label.col-sm-2.form-label Grade
      .uneditable-input.col-md-8.form-control
        %span= @member.grade

  .form-group
    %label.col-sm-2.form-label Email
    .uneditable-input.col-md-8.form-control
      %span= @member.email

  .form-actions.col-md-offset-2
    = link_to icon_tag("pencil") + ' Edit', edit_member_path(@member), class: 'btn btn-primary'
    = link_to 'Back', members_path, class: 'btn'
